*{
    margin: 0;
    padding: 0;
}

.local{
    
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-color: #0075ff;
    border-style: dotted solid dotted solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    animation: rotate-right 4s linear infinite;
    
}


.local::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-width: 2px;
    border-color: red;
    border-style: solid dotted solid dotted;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: rotate-left 2s linear infinite;
}





@keyframes rotate-right {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(1turn);
    }


}
@keyframes rotate-left {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}